body{
  background-color: #30384b;
  color: #eee;
}
main{
  padding-top: 50px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center
}

button{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border:0;
  display: inline-block;
  width: 100px;
  cursor: pointer
}

button.with-text{
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px
} 

button.with-text svg{
  width: 36px;
  float: left;
  margin-right: 5px;
}


label{
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase
}

.select{
  margin-bottom: 20px;
  margin-top: 20px;

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #30384b; 
  color: white; 
  /* display: inline-block; */
  text-align: center;
  border: 2.5px solid lime;
  height: auto;
  width: auto;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
  /* float: right */
}

#element1{
  float: left;
  margin-top: 35px;
  width: 150px
}

#element2{
  float:right
}

.dropdown {
  color: black
}

.show {display: block;}

.blackFont{
  color: black
}

.timerLabel{
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}

.timerLabelAbove{
  display: block;
  margin-bottom: -10px;
  margin-top: 50px;
  text-transform: uppercase;
}

.slider{
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.slider.lime{
  border: 2px solid lime;
}

.slider.lime .thumb{
  background-color: lime;
}

.slider.cyan{
  height: 40px;
  border: 2px solid cyan;
  border-radius: 20px
}

.thumb{
  background-color: cyan;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px
}



